.App {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

.Sidebar {
    height: 100%;
    width: 250px;
    background-color: #dea5a5;
}

.SidebarList {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.SidebarList .row {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .row:hover{
    cursor: pointer;
    background-color: #c08c8c;
}

.SidebarList #active {
    background-color: #c08c8c;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}

.icono {
    width: 50px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    flex: 30%;
    display: grid;
    place-items: center;
    position:absolute;
    bottom:10px;
    left: 0px;
}

.nombre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px; 
    position:absolute;
    bottom: 0px; 
    left: 50px;
}

.PerfilUsuario {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    
}

.PerfilUsuario .navb {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    position:relative;
    
    

}